################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CustomerPortal/packages
/Flex/PDFReport
/Flex.Data/bin
/Flex.Data/bin/Debug
/Flex.Data/obj
/Flex.Data/obj/Debug
/Insurance.Business/bin/Debug
/Insurance.Business/obj
/Insurance.Data/bin/Debug
/Insurance.Data/obj
/packages
/SerialNumber/bin
/SerialNumber/obj
/SerialNumberGeneratorHost/bin/Debug
/SerialNumberGeneratorHost/obj
/SerialNumberGeneratory/bin
/SerialNumberGeneratory/obj
/CustomerPortal/bin
/CustomerPortal/obj
/Flex/bin
/Flex/Log
/Flex/obj
/Flex.Business/bin
/Flex.Business/obj
/Flex.Data/Model.zip
/Flex.Utility/bin
/Flex.Utility/obj
/TestSerialNumberGenerator/obj
/Flex.Data/Model/old.zip
