
<ul class="nav nav-tabs border-none">
    <li role="presentation" class="active">
        <a class="border-none uppercase bold padding-horizontal-md margin-right-xs">Restore Data Backup After Interest Calculation</a>
    </li>
</ul>
<div class="padding-top-md">
    <div class="padding-md panel margin-top-sm">
        <input id="restorebackup" type="button" class="btn btn-block btn-success" style="width:100px;" value="Process" onclick="restorebackup()" />
    </div>
</div>
   

