
<div class="padding-md panel margin-top-sm">
    <form action="@Url.Action("PostTransaction","Payment")" method="post" name="form">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="Type" class="color-transparent-darker lite small uppercase">Instrument</label>
                @Html.DropDownList("Type", (IEnumerable<SelectListItem>)ViewBag.instruments, String.Empty,
        new { @class = "form-control input-md" })
            </div>

            <div class="form-group col-md-4">
                <label for="PolicyNo" class="color-transparent-darker lite small uppercase">Policy No</label>
                @*<input name="PolicyNo" class="form-control input-md" required id="policyno" />*@
                <input type="text" class="form-control" data-autocomplete="@Url.Action("PolicynoAutoComplete","CustPolicy")" />
                <input type="hidden" value="" id="policyno" data-autocomplete-id="true" name="PolicyNo" />
            </div>
            <div class="form-group col-md-4">
                <label for="PolicyType" class="color-transparent-darker lite small uppercase">Amount</label>
                <input type="number" name="Amount" class="form-control input-md" min="1" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="PaymentMethod" class="color-transparent-darker lite small uppercase">Payment Method</label>
                @Html.DropDownList("PaymentMethod", (IEnumerable<SelectListItem>)ViewBag.paymentMethods, String.Empty,
                             new { @class = "form-control input-md", @onchange = "toggleChqNo(this)" })
            </div>
            <div class="form-group col-md-4" id="chqno" style="display:none;">
                <label for="ChequeNo" class="color-transparent-darker lite small color-gray">Cheque Number</label>
                <input type="text" name="ChequeNo" class="form-control input-md" />
            </div>
            <div class="form-group col-md-4">
                <label for="Narration" class="color-transparent-darker lite small color-gray">Narration</label>
                <input type="text" name="Narration" class="form-control input-md" />
            </div>
            <div class="form-group col-md-4">
                <label for="Narration" class="color-transparent-darker lite small color-gray">Date</label>
                <input type="text" name="TransactionDate" class="form-control input-md datepicker" />
            </div>

        </div>
    </form>
    <input  type="button" class="btn btn-block btn-success" value="Submit" onclick="submitTransaction()"/>
</div>

