@using Flex.Data.Model
@using Flex.Util
@model fl_premrate
<form id="rate">
    <div class="padding-md">
        <div class="row">
            <div class="form-group col-md-3 ss-item-required">
                <label for="Period" class="color-transparent-darker lite small uppercase">Period</label>
                <input type="text" name="Period" class="form-control input-md" required placeholder="yyyymm" />
            </div>
            <div class="form-group col-md-5 ss-item-required">
                <label for="PolType" class="color-transparent-darker lite small uppercase">Policy Type</label>
                @*<input type="text" name="PolType" class="form-control input-md" />*@
                @Html.DropDownList("PolType", (IEnumerable<SelectListItem>)ViewBag.polType,
                                 new { @class = "form-control input-md", @id = "PolType" })
            </div>
            <div class="form-group col-md-4 ss-item-required">
                <label for="Group" class="color-transparent-darker lite small uppercase">Group</label>
                @*<input type="text" name="Group" class="form-control input-md" />*@
                @Html.DropDownList("Group", (IEnumerable<SelectListItem>)ViewBag.grp, String.Empty,
                                 new { @class = "form-control input-md", @id = "Group" })
            </div>

        </div>
        <div class="row">
            @*<div class="form-group col-md-6">
                    <label for="Interest" class="color-transparent-darker lite small uppercase">Interest</label>
                    <input type="number" name="Interest" class="form-control input-md" required />
                </div>*@
        </div>
        @*<div class="row">
                <div class="form-group col-md-6">
                    <label for="Commission" class="color-transparent-darker lite small uppercase">Commission Rate</label>
                    <input type="number" name="Commission" class="form-control input-md" required />
                </div>
                <div class="form-group col-md-6">
                    <label for="MktCommRate" class="color-transparent-darker lite small color-gray">Marketer Commission Rate</label>
                    <input type="number" name="MktCommRate" class="form-control input-md" required />
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="Retention" class="color-transparent-darker lite small uppercase">Retention</label>
                    <input type="number" name="Retention" class="form-control input-md" required />
                </div>

            </div>*@
    </div>
</form>

<form id="rateRules">
    <div class="clearfix"></div>

    <div class="row">
        <div class="form-group col-md-2 ss-item-required">
            <label for="Group" class="color-transparent-darker lite small uppercase">GIR</label>
            <input type="number" name="intr" id="intr" class="form-control input-md" min="0" value="0" />
        </div>
        <div class="form-group col-md-2 ss-item-required">
            <label for="Group" class="color-transparent-darker lite small uppercase">Staff</label>
            <input type="number" name="Commission" id="Commission" class="form-control input-md" min="0" value="0" />
        </div>
        <div class="form-group col-md-2 ss-item-required">
            <label for="Group" class="color-transparent-darker lite small uppercase">Marketer</label>
            <input type="number" name="MktCommRate" id="MktCommRate" class="form-control input-md" min="0" value="0" />
        </div>
        <div class="form-group col-md-3 ss-item-required">
            <label for="Group" class="color-transparent-darker lite small uppercase">Comm. Upper Limit</label>
            <input type="number" name="CommUpperLimit" id="CommUpperLimit" class="form-control input-md" min="0" value="0" />
        </div>
        <div class="form-group col-md-3 ss-item-required">
            <label for="Group" class="color-transparent-darker lite small uppercase">Interest Upper Limit</label>
            <input type="number" name="IntrUpperLimit" id="IntrUpperLimit" class="form-control input-md" min="0" value="0" />
        </div>

    </div>
    <div class="row pull-right" style="padding-right:15px;">
        <input type="button" class="btn btn-block btn-group-sm btn-info" value="Add" onclick="addrule()" />
    </div>
    <div id="divrules" style="display:none;">
        @Html.Partial("_rateRules", new List<fl_premrateRules>())
    </div>
</form>

