@using Flex.Data.Model
@using Flex.Data.ViewModel
@model PagedResult<fl_grouptype>
    

<ul class="nav nav-tabs border-none">
    <li role="presentation" class="active">
        <a class="border-none uppercase bold padding-horizontal-md margin-right-xs">Policy Groups</a>
    </li>
    <li class="pull-right">
        <button type="button" onclick="showGrp(this);" class="btn btn-success btn-sm" data-url="@Url.Action("AddEditGroup", "SetUp")"><span class="fa fa-plus"></span> &nbsp; ADD Group</button>
    </li>
</ul>

<div class="margin-top-md margin-bottom-md">
    <span class="inline-block pull-right text-gray" style="margin-bottom:-34px; width:24px; height:34px; line-height:34px; vertical-align:middle;">
        <span class="fa fa-search"></span>
    </span>
    <input type="text" id="groupSearch" style="padding-right:30px;" class=" form-control input-md" placeholder="Search Group" onkeyup="searchGroupList(document.getElementById('groupSearch').value, 0, 0)" />
    <div class="text-center padding-sm" style="display:none;" id="searching">
        <span class="fa fa-spinner rotate"></span> <em>loading...</em>
    </div>
</div>

<div class="row margin-top-md" id="tbgroup">
    @Html.Partial("_tbGroups", Model)
</div>
