@using Flex.Data.ViewModel
@using Flex.Data.Model
@model PagedResult<fl_location>

<ul class="nav nav-tabs border-none">
    <li role="presentation" class="active">
        <a class="border-none uppercase bold padding-horizontal-md margin-right-xs">Locations</a>
    </li>
    <li class="pull-right">
            <button type="button" class="btn btn-success btn-sm" onclick="showLocationInput(this, 0)" data-url="@Url.Action("AddEditLocation", "SetUp")"><span class="fa fa-plus"></span>ADD LOCATION</button>
        </li>
</ul>

<div class="padding-top-md">
    <div class="panel">
        <div class="padding-sm">
            <span class="inline-block pull-right text-gray" style="margin-bottom:-34px; width:24px; height:34px; line-height:34px; vertical-align:middle;">
                <span class="fa fa-search"></span>
            </span>
            <input type="text" name="locationSearch" style="padding-right:30px;" class=" form-control input-md" id="locationSearch"
                   placeholder="Search Location" onkeyup="searchLocation(document.getElementById('locationSearch').value)" />
            <div class="text-center padding-sm" style="display:none;" id="searching">
                <span class="fa fa-spinner rotate"></span> <em>loading...</em>
            </div>
        </div>
        <div class="table-responsive" id="tbloc">
            @Html.Partial("_tbLocation", Model)
        </div>

    </div>
</div>
