@{ Layout = null; }
<form name="step1" action="@Url.Action("Next")" id="step1Frm">
    <div class="col-md-12 bg-white">

        <div class="row">
            <div class="form-group col-md-6 ss-item-required">
                <label for="Surname" class="color-transparent-darker lite small">SURNAME</label>
                <input type="text" name="Surname" class="form-control input-md" autofocus required />
                <span class="text-danger pull-right small">* required</span>
            </div>
            <div class="form-group col-md-6 ss-item-required">
                <label for="OtherNames" class="color-transparent-darker lite small">OTHER NAMES</label>
                <input type="email" name="OtherNames" class="form-control input-md" required />
                <span class="text-danger pull-right small">* required</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 ss-item-required">
                <label for="ResidentialAddress" class="color-transparent-darker lite small">RESIDENTIAL ADDRESS</label>
                <textarea name="ResidentialAddress" class="form-control input-md" rows="2"></textarea>
                <span class="text-danger pull-right small">* required</span>
            </div>
            <div class="form-group col-md-6">
                <label for="OfficeAddress" class="color-transparent-darker lite small">OFFICE ADDRESS</label>
                <textarea name="OfficeAddress" class="form-control input-md" rows="2"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="PostalAddress" class="color-transparent-darker lite small">POSTAL ADDRESS</label>
                <textarea name="PostalAddress" class="form-control input-md" rows="2" required></textarea>
            </div>
            <div class="form-group col-md-6 ss-item-required">
                <label for="Phone" class="color-transparent-darker lite small">PHONE NUMBER</label>
                <input type="number" name="Phone" class="form-control input-md" ng-prefix="+234" required></input>
                <span class="text-danger pull-right small">* required</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="Email" class="color-transparent-darker lite small">EMAIL</label>
                <input type="email" name="Email" class="form-control input-md" />
                @*<span class="text-danger pull-right small">* valid email is required</span>*@
            </div>
            <div class="form-group col-md-6 ss-item-required">
                <label for="Dob" class="color-transparent-darker lite small ">DATE of BIRTH</label>
                @*<input type="text" name="dob" class="form-control input-md datepicker" />*@
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control datepicker" name="Dob" id="Dob" />
                    <span class="input-group-btn" style="padding-top:1px;">
                        <button type="button" class="btn btn-default" onclick="openDatePicker(this)"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
                <span class="text-danger pull-right small">* required</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="Occupation" class="color-transparent-darker lite small">OCCUPATION</label>
                <input type="text" name="Occupation" class="form-control input-md" />
            </div>
            <div class="form-group col-md-6 ss-item-required">
                <label for="PolicyType" class="color-transparent-darker lite small">Policy Type</label>
                @Html.DropDownList("PolicyType", (IEnumerable<SelectListItem>)ViewBag.polType, String.Empty,
                                                                                                        new { @class = "form-control input-md", @required = "true", @id = "polType" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 ss-item-required">
                <label for="Location" class="color-transparent-darker lite small">Location</label>
                @Html.DropDownList("Locationid", (IEnumerable<SelectListItem>)ViewBag.location, String.Empty,
                                                                                                        new { @class = "form-control input-md", @required = "true", @id = "location" })
            </div>

            <div class="form-group col-md-6 ss-item-required">
                <label class="color-transparent-darker lite small" for="Amount">Contribution Amount</label>
                <input type="number" name="Amount" class="form-control input-md" required />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 ss-item-required">
                <label for="Frequency" class="color-transparent-darker lite small">FREQUENCY</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="Frequency" id="inlineRadio1" value="1" required> Monthly
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="Frequency" id="inlineRadio2" value="2"> Quaterly
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="Frequency" id="inlineRadio3" value="3"> Bi-Annually
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="Frequency" id="inlineRadio3" value="4"> Annually
                    </label>
                    <span class="text-danger pull-right small">* required</span>
                </div>
            </div>
            <div class="form-group col-md-6 ss-item-required">
                <label class="color-transparent-darker lite small" for="Duration">Contribution Duration</label>
                <div class="input-group">
                    <input type="number" name="Duration" required
                           class="form-control input-md" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2">yrs</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 ss-item-required">
                <label for="IdentityType" class="color-transparent-darker lite small">Identification Type</label>
                <select class="form-control" name="IdentityType">
                    <option value="Drivers' licence">Drivers' licence</option>
                    <option value="Voters' Card">Voters' Card</option>
                    <option value="International Passport">International Passport</option>
                    <option value="National Identification Number (NIN) card">National Identification Number (NIN) card</option>
                </select>
                <span class="text-danger pull-right small">* required</span>
            </div>
            <div class="form-group col-md-6 ss-item-required">
                <label for="IdentityNumber" class="color-transparent-darker lite small">Identity Number</label>
                <input type="text" name="IdentityNumber" class="form-control input-md" />
                <span class="text-danger pull-right small">* required</span>
            </div>
        </div>
        @*<div class="row">

            <div class="form-group col-md-6">
                <label for="Picture" class="color-transparent-darker lite small">Picture</label>
                <input type="file" name="PictureFile" class="form-control input-sm mb15" required />
            </div>
            <div class="form-group col-md-6">
                <label for="Picture" class="color-transparent-darker lite small">Signature</label>
                <input type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       name="signature"
                       class="form-control"
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                       onchange="document.getElementById('passport').src = window.URL.createObjectURL(this.files[0])" />
            </div>
        </div>*@
        <div class="row">
            <div class="form-group col-md-6">
                <label for="Agent" class="color-transparent-darker lite small">Agent</label>
                @Html.DropDownList("agentcode", (IEnumerable<SelectListItem>)ViewBag.Agent, String.Empty,
                                                                                                            new { @class = "form-control input-md", @required = "true", @id = "agent" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1">
                <input type="button" class="btn btn-success btn-lg padding-lg-h" value="Next" id="btnstep1Next" />
            </div>
        </div>
    </div>
</form>

