
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
    @Styles.Render(BundleConfig.GetBundlesPath(1) + "/common")

    <link href="~/Assests/styles/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assests/styles/style.min.css" rel="stylesheet">
    <link href="~/Assests/styles/datepicker.css" rel="stylesheet" />
    <link href="~/Assests/styles/toastr.min.css" rel="stylesheet">
    <link href="~/Assests/styles/font-awesome.min.css" rel="stylesheet" />

</head>
<body>
    <div id="signuppage" class="bg-primary-alt">
        <div class="container">

            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-md-offset-2 padding-top-md padding-bottom-md login-box" style="background-color:white">
                    <!--<h4 class="text-center lite spaced">PRIMUS LITE</h4>-->
                    <div class="text-center"><a ui-sref="home"><img src="~/images/Nlpc.png" /></a></div>
                    <h2 class="text-center">Password Reset</h2>

                    <div class="padding-md">
                        @using (Html.BeginForm("ResetPasseord2", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                    <div class="form-group ss-item-required">
                        <label for="AccountNumber" class="color-transparent-darker lite small uppercase">UserName</label>
                        <input type="password" name="OldPassword" class="form-control input-md" placeholder="Enter your Policy Number" required autocomplete="off" />
                    </div>
                                    <div class="form-group ss-item-required">
                                        <label for="AccountName" class="color-transparent-darker lite small uppercase">new password</label>
                                        <input type="password" name="NewPassword" class="form-control input-md" placeholder="Enter your new password" required autocomplete="off" />
                                    </div>
                                                    <div class="form-group ss-item-required">
                                                        <label for="AccountName" class="color-transparent-darker lite small uppercase">re-enter new password</label>
                                                        <input type="password" name="ReNewPassword" class="form-control input-md" placeholder="Re-enter your new password" required autocomplete="off" />
                                                    </div>}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Assests/scripts/signUp.js"></script>
    <script src="~/Assests/scripts/datetimepicker.js"></script>
    <script src="~/Assests/scripts/bootstrap-datepicker.js"></script>
    <script src="~/Assests/scripts/toastr.js"></script>
    <script src="~/Assests/scripts/modal.js"></script>
    <script src="~/Assests/scripts/serializeObject.js"></script>
    <script src="~/Assests/scripts/util.js"></script>
    <script src="~/Assests/scripts/dataService.js"></script>

</body>
</html>