@model Flex.Data.Model.fl_password

@{
    Layout = null;
}
<input type="hidden" value="@Model.Id" id="id" />
    <div class="item form-group">
        <div class="panel"> Are you sure you want to reset password for User [@Model.Name]</div>
    </div>
