<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
      <section name="Mail" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />

  </configSections>
  <connectionStrings>
    
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-CustomerPortal-20160703030124.mdf;Initial Catalog=aspnet-CustomerPortal-20160703030124;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=HICAD-TOM\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-CustomerPortal-20160703030124.mdf;Initial Catalog=aspnet-CustomerPortal-20160703030124;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="FlexEntities" connectionString="metadata=res://*/Model.FlexDb.csdl|res://*/Model.FlexDb.ssdl|res://*/Model.FlexDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HICAD-TOM\SQLEXPRESS;initial catalog=FlexDb;persist security info=true;user id=sa;password=H1cadServer;multipleactiveresultsets=true;app=entityframework&quot;" providerName="System.Data.EntityClient" />
	  
	  <!--<add name="DefaultConnection" connectionString="Data Source=172.18.11.6;AttachDbFilename=|DataDirectory|\aspnet-CustomerPortal-20160703030124.mdf;Initial Catalog=aspnet-CustomerPortal-20160703030124;Integrated Security=True" providerName="System.Data.SqlClient" />
	  <add name="FlexEntities" connectionString="metadata=res://*/Model.FlexDb.csdl|res://*/Model.FlexDb.ssdl|res://*/Model.FlexDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.18.11.6;initial catalog=NLPC_NewData;persist security info=true;user id=sa;password=adm1n@nlpc;multipleactiveresultsets=true;app=entityframework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
   <add key="appVersion" value="5.7.2016.1122C" />
    <add key="DisableBundleOptimizations" value="true" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="SerialNumberServiceUrl" value="net.pipe://localhost/SerialNumberGenerator.Service/SerialNumberService/" />
    <add key="PolicyNoFormat" value="{PolicyType}/{Location}/{Year}/{SerialNo}" />
    <add key="PolicynoLenght" value="7" />
  </appSettings>
    <Mail>
    <add key="SMTPUserName" value="temmyowode@gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPPassword" value="mickeym@use" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="MailFrom" value="temmyowode@gmail.com" />
  <add key="Sender" value="NLPC LTD" />
  </Mail>

  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="WCFServiceHostNetPipeEndPoint" />
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/SerialNumberGenerator.Service/SerialNumberService/" binding="netNamedPipeBinding" bindingConfiguration="WCFServiceHostNetPipeEndPoint" contract="ServiceReference1.ISerialNumber" name="WCFServiceHostNetPipeEndPoint">
        <identity>
          <servicePrincipalName value="host/GPLUS" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

</configuration>