@using Flex.Data.Model
@using Flex.Data.ViewModel
@model PagedResult<VPayhistorybyAgent>
<div class="padding-top-md">
    <div class="panel">
        <div class="padding-sm">
            
        </div>

        @{
            var dispaly = string.Empty;

            dispaly = Model.Items.Any() ? "block" : "none";
        }
        <div id="tbpolicy" class="table-responsive">
            @Html.Partial("_tbAgentPayhist", Model)
        </div>

    </div>
</div>