@using Flex.Data.ViewModel
@using Flex.Util
@model SignUpBindingModel

@{
    Layout = null;
}

<div class="padding-top-md">
    <div class="panel">
        <div class="padding-sm">
            <div class="row">
                <form id="step1Frm">
                    <div class="bg-white col-md-12">
                        @if (WebSecurity.Module.Trim() == "GTY")
                        {
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="CustomerId" class="color-transparent-darker lite small">Group</label>
                                    @Html.DropDownList("GroupCode", (IEnumerable<SelectListItem>)ViewBag.grp, "Select...", new { @class = "form-control input-md", @id = "grpcode" })
                                </div>
                               
                            </div>
                        }
                        else
                        {
                            <input type="hidden" id="GroupCode" value="001" name="GroupCode" />
                        }
                        <div class="row">

                            
                            <div class="form-group col-md-6">
                                <label for="CustomerId" class="color-transparent-darker lite small">Policy Type</label>
                                @Html.DropDownList("PolicyType", (IEnumerable<SelectListItem>)ViewBag.polType, String.Empty, new { @class = "form-control input-md", @required = "true", @id = "poltype" })
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-md-8">
                                <input type="file" name="pUpload" class="form-control-file" id="polUpload" />
                            </div>
                            <div class="col-md-4">
                                <a href="~/Assests/Upload/GPolicyUpload.xlsx">Download Sample</a>
                                @*<a href="~/Assests/Upload/PolicyUpload.xlsx">Download Sample</a>*@
                            </div>
                        </div>
                        <a class="btn btn-block btn-success" onclick="uploadPolicy(this);" data-url="@Url.Action("UploadPolicy","CustPolicy")">Upload</a>

                    </div>
                </form>

            </div>

        </div>

    </div>
</div>

