
@{
   var model=ViewBag.Tabs as List<Flex.Data.Model.Tab>;
   var view = ViewBag.DefaultView as string;
}

<div class="bg-success padding-bottom-lg" style="margin-bottom:-40px;margin-left:-50px;margin-right:-50px;">
        <div class="container padding-horizontal-lg">
            <h3>Payments</h3>
        </div>
    </div>
<div class="row">
    <div class="col-md-3">
        <div>@Html.Partial("_menu",@model)</div>
    </div>
    <div class="col-md-9" id="custpolContent">
        @Html.Partial(view)
    </div>
</div>

@section scripts {
    <script src="~/Assests/scripts/custpolicy.js"></script>
<script src="~/Assests/scripts/modal.js"></script>
}
