<?xml version="1.0" encoding="utf-8"?>
<!-- Log4Net Configurations -->
<log4net debug="false">
  <root>
    <level value="ALL" />
    <appender-ref ref="RootLogAppender" />
  </root>
  <!--====================================-->
  <appender name="RootLogAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log\log.log" />
    <param name="AppendToFile" value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value="[Flex Customer Logger Started] &#xA;" />
      <param name="Footer" value="[Flex Customer Logger Stopped] &#xA;" />
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
    </layout>
  </appender>
  <!--====================================-->
  <appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <!--<logger name="Parkway.Tools.NHibernate">
    <appender-ref ref="ParkwayToolsNHibernateLogFileAppender" />
    <level value="DEBUG" />
  </logger>-->
  <!--<appender name="ParkwayToolsNHibernateLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log\log.nhibernatemanager.log" />
    <param name="AppendToFile" value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value="[BankCollect Service Started] &#xD;&#xA;" />
      <param name="Footer" value="[BankCollect Service Stopped] &#xD;&#xA;" />
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
    </layout>
  </appender>-->
  <!-- NHProfiler -->
  </log4net>
