<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="Mail" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="CrystalReport.Settings" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <section name="DataBase.Settings" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Flex-20160703030955.mdf;Initial Catalog=aspnet-Flex-20160703030955;Integrated Security=True" providerName="System.Data.SqlClient" />
      <!--<add name="FlexEntities" connectionString="metadata=res://*/Model.FlexDb.csdl|res://*/Model.FlexDb.ssdl|res://*/Model.FlexDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NLPC_newdata;persist security info=True;user id=sa;password=password1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
      <!--<add name="FlexEntities" connectionString="metadata=res://*/model.flexdb.csdl|res://*/model.flexdb.ssdl|res://*/model.flexdb.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=HICADB\SQLSERVER2019;initial catalog=FlexDB;persist security info=true;user id=sa;password=H1cadServer;multipleactiveresultsets=true;app=entityframework&quot;" providerName="system.data.entityclient" />-->
      <!--<add name="FlexEntities" connectionString="metadata=res://*/model.flexdb.csdl|res://*/model.flexdb.ssdl|res://*/model.flexdb.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=DESKTOP-92FJA4U\SQLSERVER2019;initial catalog=FlexDB;Integrated Security = true;multipleactiveresultsets=True;app=entityframework&quot;" providerName="System.Data.EntityClient" />-->
      <!--<add name="FlexEntities" connectionString="metadata=res://*/model.flexdb.csdl|res://*/model.flexdb.ssdl|res://*/model.flexdb.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=HICADB\SQLSERVER2019;initial catalog=NLPC_NewData;persist security info=true;user id=sa;password=H1cadServer;multipleactiveresultsets=true;app=entityframework&quot;" providerName="system.data.entityclient" />-->
	  <!--<add name="FlexEntities" connectionString="metadata=res://*/model.flexdb.csdl|res://*/model.flexdb.ssdl|res://*/model.flexdb.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=HICADSERVER\SQLSERVER2019;initial catalog=FlexDB;persist security info=true;user id=HICAD;password=H1cadServer;multipleactiveresultsets=true;app=entityframework&quot;" providerName="system.data.entityclient" />-->
	  <add name="FlexEntities" connectionString="metadata=res://*/model.flexdb.csdl|res://*/model.flexdb.ssdl|res://*/model.flexdb.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=HICAD-TOM\SQLEXPRESS;initial catalog=NLPC_NewDataMgrTest;persist security info=true;user id=sa;password=H1cadServer;multipleactiveresultsets=true;app=entityframework&quot;" providerName="system.data.entityclient" />
      <!--<add name="FlexEntities" connectionString="metadata=res://*/model.flexdb.csdl|res://*/model.flexdb.ssdl|res://*/model.flexdb.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=KAYNET\SQLSERVER2019;initial catalog=FlexDB;persist security info=true;user id=sa;password=passme;multipleactiveresultsets=true;app=entityframework&quot;" providerName="system.data.entityclient" />-->
    <add name="HicadAcct3" connectionString="metadata=res://*/Model.FlexDb.csdl|res://*/Model.FlexDb.ssdl|res://*/Model.FlexDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HICAD-TOM\SQLEXPRESS;initial catalog=NLPC_newdata;persist security info=True;user id=sa;password=H1cadServer;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="ReportPath" value="~/PDFReport/" />
    <add key="ReportPath2" value="PDFReport/" />
    <add key="PolicynoLenght" value="5" />
    <add key="PolicyNoFormat" value="{PolicyType}/{Location}/{Year}/{SerialNo}" />
    <add key="SessionTimeout" value="60" />
    <!--<add key="PicturePath" value="C:\\Temmy\\Flex\\flex-system\\Flex\\Pictures\\" />-->
	  
	  <add key="PicturePath" value="C:\\Projects\\temiowode-flex-system-ca7dddf7c581\\Flex\\Pictures\\" />
    <!--<add key="BasePicUrl" value="http://localhost/Flex/Pictures/" />-->
    <!--<add key="NotificationMessage" value="C:\\Temmy\\Flex\\flex-system\\Flex\\Message.json" />-->
    <add key="NotificationMessage" value="E:\\ProjectsTom\\temiowode-flex-system-ca7dddf7c581\\Flex\\Message.json" />
	  <!--<add key="SerialNumberServiceUrl" value="C:\Program Files\SerialNumberService"/>-->
	  <add key="SerialNumberServiceUrl" value="net.pipe://localhost/SerialNumberGenerator.Service/SerialNumberService/" />
    
    <add key="emailaddress" value="jt@brainobrainnigeria.com" />
    <add key="emailSender" value="jt@brainobrainnigeria.com" />
    <add key="emailhost" value="mail.brainobrainnigeria.com" />
    <add key="emailpass" value="K0f1b@nd@" />
  </appSettings>
  <Mail>
    <add key="SMTPUserName" value="temmyowode@gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPPassword" value="mickeym@use" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="MailFrom" value="temmyowode@gmail.com" />
  <add key="Sender" value="NLPC LTD" />
  </Mail>
  
  <CrystalReport.Settings>
    <add key="BaseURL" value="~/Reports" />
    <add key="CoyName" value="NIGERIA LIFE AND PROVIDENT COMPANY"></add>
    <add key="CoyAddress" value="312 Ikorodu Rd. Lagos"></add>
    <add key="Location" value="pollocation.rpt" />
    <add key="PolicyType" value="poltype.rpt" />
    <add key="LifeRate" value="rate.rpt" />
    <add key="ApprovedPolicy" value="approvedpolicy.rpt" />
    <add key="AgentDetails" value="agent.rpt" />
    <add key="PaymentListing" value="paylist.rpt" />
    <add key="ApprovedProposal" value="proposalapr.rpt" />
    <add key="MemberList" value="memberlist.rpt" />
    <add key="MemberListByAgent" value="membersagent.rpt" />
    <add key="MemberListByLocation" value="membersloc.rpt" />
    <add key="Statement" value="statement.rpt" />
    <add key="Production" value="production.rpt" />
    <add key="ProductionByAgent" value="productionbrk.rpt" />
    <add key="ProductionSummary" value="production_sum.rpt" />
    <add key="ProductionSummaryByAgent" value="production_brksum.rpt" />
    <add key="ProductAnalysis" value="prodanalysis.rpt" />
    <add key="RecieptListing" value="Recieptlist.rpt" />
    <add key="FundGroup" value="fundgroups.rpt" />
    <add key="InvestmentHistory" value="detailreceipt.rpt" />
    <add key="ReceiptCurrentValue_Receipt" value="receiptsummary.rpt" />
    <add key="PolicyCurrentValue" value="summaryreport.rpt" />
    <add key="ReceiptCurrentValue_Policy" value="receiptsummaryp.rpt" />
    <add key="ClaimStatement" value="claim.rpt" />
    <add key="ClaimApproval" value="claimapproval.rpt" />
    <add key="Receipt" value="rctenquirylist.rpt" />
    <add key="ClaimSummary" value="Claimsumm.rpt" />
    <add key="ClaimDateRange" value="Claimsumm2.rpt" />
    <add key="Commisssion" value="commission.rpt" />
    <add key="CommisssionSummary" value="commsummary.rpt" />
    <add key="Maturity" value="maturity.rpt" />
    
    <add key="statementAA" value="CrystalReportStatement.rpt" />
    
    <add key="statement1" value="nstatement_GRPALL.rpt" />
    <add key="statement2" value="nstatement_GRPEAR.rpt" />
    <add key="statement3" value="nstatement_GRPER.rpt" />
    <add key="statement4" value="nstatement_GRPERT.rpt" />
    <add key="statement5" value="nstatement_GRPPC.rpt" />
    <add key="statement6" value="nstatement_GRPTRV.rpt" />
    <add key="statement7" value="nstatement_GRPPAC.rpt" />
    <add key="statement8" value="nstatement_GRPPERT.rpt" />
    <add key="statement9" value="nstatement_GRPTCP.rpt" />
    <add key="statement10" value="nstatement_GRPTC.rpt" />
    <add key="statement11" value="nstatement_GRPC.rpt" />
    <add key="statement12" value="nstatement_GRPALL.rpt" />

    <add key="statement1A" value="nstatement_grpallA.rpt" />
    <add key="statement2A" value="nstatement_GRPEARA.rpt" />
    <add key="statement3A" value="nstatement_GRPERA.rpt" />
    <add key="statement4A" value="nstatement_GRPERTA.rpt" />
    <add key="statement5A" value="nstatement_GRPPCA.rpt" />
    <add key="statement6A" value="nstatement_GRPTRVA.rpt" />
    <add key="statement7A" value="nstatement_GRPPACA.rpt" />
    <add key="statement8A" value="nstatement_GRPPERTA.rpt" />
    <add key="statement9A" value="nstatement_GRPTCPA.rpt" />
    <add key="statement10A" value="nstatement_GRPTCA.rpt" />
    <add key="statement11A" value="nstatement_GRPCA.rpt" />
    <add key="statement12A" value="statement_grpallA.rpt" />


  </CrystalReport.Settings>
  <DataBase.Settings>
    <add key="ALM" value="HicadAcct3"></add>
    <add key="INS" value="HicadAcct4"></add>
    <add key="PPP" value="FlexEntities"></add>
    <add key="TSP" value="FlexEntities"></add>
    <add key="GTY" value="FlexEntities"></add>
  </DataBase.Settings>

  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="692fbea5521e1304" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="WCFServiceHostNetPipeEndPoint" />
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/SerialNumberGenerator.Service/SerialNumberService/" binding="netNamedPipeBinding" bindingConfiguration="WCFServiceHostNetPipeEndPoint" contract="ServiceReference1.ISerialNumber" name="WCFServiceHostNetPipeEndPoint">
        <identity>
          <servicePrincipalName value="host/GPLUS" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>