
<style>
    .accordion {
        margin-top: 110px;
        margin-right: 0 auto;
        position: relative;
        max-width: 900px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .accordion .container {
            position: relative;
            margin: 10px 10px;
            border-radius: 50px;
        }

        /* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */

        .accordion .label {
            position: relative;
            padding: 5px 0;
            font-size: 10px;
            color: black;
            cursor: pointer;
        }

            .accordion .label::before {
                content: '';
                color: black;
                position: absolute;
                top: 40%;
                font-size: 15px;
                transform: translateY(-50%);
            }

        .accordion .content {
            position: relative;
            height: 0;
            font-size: 20px;
            text-align: justify;
            overflow: hidden;
            transition: 0.5s;
        }

        .accordion .container.active .content {
            height: 350px;
        }

        .accordion .container.active #ussd {
            height: 110px;
        }

        .accordion .container.active #gtcoweb {
            height: 300px;
        }

        .accordion .container.active #quickteller {
            height: 15px;
        }

        /* Changes from plus sign to negative sign once active */
        .accordion .container.active .label::before {
            content: '';
            font-size: 15px;
        }
        /* Adds a horizontal line between the contents */
        .accordion hr {
            width: 100px;
            margin-left: 0;
            border: 1px solid grey;
        }
</style>

@*<div class="row margin-top-lg" id="divcontent">

        <h2>Policy Payment Channel</h2>


    </div>*@
@*<div>@Html.Partial("_ussdpayment")</div>*@
<div class="padding-top-md">
    <div class="panel">
        <div class="padding-sm">
            <h3>Policy Payment Channel</h3>
            <div class="accordion row" style="padding:2px;">
                <ul class="nav nav-tabs" role="tablist"  border:none;">
                    <li>
                        <button type="button" onclick="showXpayment(this);"
                                data-url="@Url.Action("Xpressspay", "PaymentChannel")">
                            <img src="~/images/expresspaylogo.png" width="60" />
                        </button>
                    </li>
                </ul>
            </div>
            <div class="accordion row">
                <ul class="nav nav-tabs" role="tablist"  border:none;">
                    <li >
                        <button type="button" onclick="showXpayment(this);"
                                data-url="@Url.Action("paystack", "PaymentChannel")">
                            <img src="~/images/paystack-opengraph.png" width="60"/>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="accordion row" style="padding: 2px; margin-top: 50px">
                <ul class="nav nav-tabs" role="tablist" style="margin-top:-40px; border:none;">
                    <li>
                        <button type="button" onclick="showGTpayment(this);"
                                data-url="@Url.Action("ussd", "PaymentChannel")">
                            <img src="~/images/gtblogo.png" width="60" />
                        </button>
                    </li>
                </ul>
            </div>

            <div class="container" style="padding:2px" onclick="event.preventDefault(); this.classList.toggle('active')">

                <div class="content" id="quickteller" style="width: 100%; background-color:white; padding: 2px">
                    <h4>
                        <a href="https://www.quickteller.com/nlpc"><img src="~/images/quickteller.png" width="70" /></a>
                    </h4>
                    <br />
                </div>
            </div>

        </div>

    </div>
</div>