
<h3>Payment Channels</h3>

<div>
    <h4>SSD PAYMENTS</h4>
    <ul>
        <li>Bank: GTB</li>
        <li>Account Name: NLPC</li>
        <li>Account Number: 001234567</li>
        <li>SSD CODE: *737*ActNo*Amt#</li>
    </ul>
    <br />
    <ul>
        <li>Bank: FirstBank</li>
        <li>Account Name: NLPC</li>
        <li>Account Number: 3034567890</li>
        <li>SSD CODE: *894*ActNo*Amt#</li>
    </ul>
</div>