@model List<Flex.Data.Model.ClaimRequest>
@{ 
    var datefrom = DateTime.Today.AddDays(-30).ToString("yyyy-MM-dd");
    var dateto = DateTime.Today.ToString("yyyy-MM-dd");
}
<div class="form-top">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#pendingProposal" aria-controls="pendingProposal" role="tab" data-toggle="tab">Claim Request</a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="pendingProposal">
        <div class="padding-top-md">
            <div class="panel">
                <div class="padding-sm">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="row">
                                <div class="col-sm-2 padding-none text-center">
                                    <label class="uppercase smaller lite margin-top-sm">Between</label>
                                </div>
                                <div class="col-sm-4 padding-none">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control datepicker" value="@datefrom" name="txtdatefrom" id="txtdatefrom" />
                                        <span class="input-group-btn" style="padding-top:1px;">
                                            <button type="button" class="btn btn-default" onclick="openDatePicker(this)"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-1 padding-none text-center">
                                    <label class=" uppercase smaller lite margin-top-sm">And</label>
                                </div>
                                <div class="col-sm-4 padding-none">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control datepicker" value="@dateto" name="txtdateto" id="txtdateto" />
                                        <span class="input-group-btn" style="padding-top:1px;">
                                            <button type="button" class="btn btn-default" onclick="openDatePicker(this)"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <input type="button" class="btn btn-info btn-sm" value="SEARCH" id="btnppsearch"  onclick="searchClaim();" />
                        </div>
                    </div>
                </div>

                <div id="tbclmReq" class="table-responsive">
                    @Html.Partial("_tbclmReq",Model)
                </div>

            </div>
        </div>
    </div>

</div>
