

@{
    var datefrom = DateTime.Today.AddDays(-30).ToString("yyyy-MM-dd");
    var dateto = DateTime.Today.ToString("yyyy-MM-dd");
}
<ul class="nav nav-tabs border-none">
    <li role="presentation" class="active">
        <a class="border-none uppercase bold padding-horizontal-md margin-right-xs">Claim Report</a>
    </li>
</ul>

<div class="padding-top-md">
    <form id="claimrpt">
        <div class="panel">
            <div class="padding-sm">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="Code" class="color-transparent-darker lite small uppercase">Start Date</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control datepicker" name="sDate" readonly value="@datefrom" />
                            <span class="input-group-btn" style="padding-top:1px;">
                                <button type="button" class="btn btn-default" onclick="openDatePicker(this)"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="Code" class="color-transparent-darker lite small uppercase">End Date</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control datepicker" name="eDate" readonly value="@dateto" />
                            <span class="input-group-btn" style="padding-top:1px;">
                                <button type="button" class="btn btn-default" onclick="openDatePicker(this)"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-sm">
                    <div class="form-group col-md-3">
                        <label class="radio-inline">
                            <input type="radio" value="0" name="withdrawal" checked="checked"> Partial Withdrawal
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="1" name="withdrawal"> Full Withdrawal
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label for="Code" class="color-transparent-darker lite small uppercase">Claim Status</label>
                        @Html.DropDownList("claimStatus", (IEnumerable<SelectListItem>)ViewBag.claimStatus, String.Empty,
                            new { @class = "form-control input-md" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <input type="button" class="btn btn-info btn-sm" value="Submit" id="btnsubmit" onclick="claimDateRange();" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

