
<ul class="nav nav-tabs border-none">
    <li role="presentation" class="active">
        <a class="border-none uppercase bold padding-horizontal-md margin-right-xs">Maturity List with Exited policy</a>
    </li>
</ul>

<div class="padding-top-md">
    <form id="fundgroup">
        <div class="panel">
            <div class="padding-sm">
                <div class="row">
                    <div class="col-sm-3 ss-item-required">
                        <input type="text" class="form-control" name="lower" id="lower" value="@DateTime.Today.ToString("dd/MM/yyyy")" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <input type="button" class="btn btn-info btn-sm" value="Submit" id="btnsubmit" onclick="maturityList();" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

