@{
    var date = DateTime.Today.ToString("yyyy-MM-dd");
}

<ul class="nav nav-tabs border-none">
    <li role="presentation" class="active">
        <a class="border-none uppercase bold padding-horizontal-md margin-right-xs">Statement of Account</a>
    </li>
</ul>

<div class="padding-top-md">
    <form id="statement">
        <div class="panel">
            <div class="padding-sm">
                <div class="row">
                    <div class="col-sm-3 ss-item-required">
                        <label for="Code" class="color-transparent-darker lite small uppercase">Date</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control datepicker" value="@date" name="Date" readonly />
                            <span class="input-group-btn" style="padding-top:1px;">
                                <button type="button" class="btn btn-default" onclick="openDatePicker(this)"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="Code" class="color-transparent-darker lite small uppercase">Policy</label>
                        @*<input type="text" class="form-control input-md" name="Policy" data-autocomplete="true" id="policyno" />*@
                        <input type="text" class="form-control" data-autocomplete="@Url.Action("PolicynoAutoComplete","CustPolicy")" style="width: 200px" />
                        <input type="hidden" value="" id="policyno" data-autocomplete-id="true" name="Policy" />
                    </div>
                    <div class="col-sm-3">
                        <label for="Code" class="color-transparent-darker lite small uppercase">Interest</label>
                        <input type="number" class="form-control" style="width: 200px" id="interest" name="Interest"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-right">
                        <input type="button" class="btn btn-info btn-sm" value="Submit" id="btnsubmit" onclick="statement();" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

