<!DOCTYPE html>
<html style="height:100%; margin:0; padding:0;">
<head>
    <meta charset=" utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex</title>
    <link href="~/Assests/styles/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assests/styles/style.min.css" rel="stylesheet">
    @*<link href="~/Assests/styles/datepicker.css" rel="stylesheet" />*@
    <link href="~/Assests/styles/toastr.min.css" rel="stylesheet">
    <link href="~/Assests/styles/font-awesome.min.css" rel="stylesheet">
    <link href="~/Assests/styles/jquery-ui.min.css" rel="stylesheet">
    <link href="~/Assests/select2/select2.css" rel="stylesheet" />


    <style>
        body {
            background-color: #f3f3f0;
        }
    </style>
</head>
<body class="margin-none padding-none" style="position: relative;">
    <header id="app-header" class="navbar navbar-fixed-top">
        <div class="container padding-horizontal-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <i class="pull-left brand-icon big"></i> <a ui-sref="dashboard" class="navbar-brand bold" style="margin:0"><img src="images/Nlpc.png" /></a>
                        @*<div class="forMobile pull-right">
                                <a ui-sref="login" class="inline-block bg-warning padding-horizontal-sm padding-vertical-xs margin-top-md"><i class="fa fa-sign-in"></i></a>
                                <a data-ng-click="$logout()" class="inline-block bg-warning padding-horizontal-sm padding-vertical-xs margin-top-md"><i class="fa fa-sign-out"></i></a>
                            </div>*@
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right menu">
                            @*<li ng-if="isGuest"><button ui-sref="login" class="btn btn-status padding-horizontal-sm padding-vertical-xs margin-sm"><i class="fa fa fa-sign-in"></i>Login</button></li>*@
                            <li><button class="btn btn-status padding-horizontal-sm padding-vertical-xs margin-sm" id="btnlogOut"><i class="fa fa fa-sign-out"></i>Logout</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div style="padding:60px 0 40px 0;">
        @*<div class="bg-success padding-bottom-lg" style="margin-bottom:-40px;">
                <div class="container padding-horizontal-lg">
                    <h3>Payments</h3>
                </div>
            </div>*@
        <div class="container">
            @RenderBody()

        </div>

    </div>
    <div class="modal fade" id="ajax" tabindex="-1" role="basic" aria-hidden="true">
        <img src="~/Images/nlpcLoading.gif" alt="" class="loading">
    </div>
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="title"></h4>
                </div>
                <div class="modal-body" id="modalbody">

                </div>
                <div class="margin-bottom-sm modal-footer" id="modal-footer">
                    <div class="inline-block"></div>
                    <button class="btn btn-success" id="modalSubmit" data-click="" onclick="">Submit</button>
                    <button class="btn btn-warning" onclick="hideModal();">Cancel</button>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
          var loginurl='@Url.Action("Index", "Login")';
    </script>
    <script>
        var applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(
        new Uri(
                   new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)),
                   Url.Content("~/")
               ).ToString(), true));
    </script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Assests/scripts/jquery.validate.min.js"></script>
    <script src="~/Assests/scripts/js.cookie.js"></script>
    <script src="~/Assests/scripts/util.js"></script>
    <script src="~/Assests/scripts/UserDetails.js"></script>
    <script src="~/Assests/scripts/profile.js"></script>
    <script src="~/Assests/scripts/toastr.js"></script>
    <script src="~/Assests/scripts/bootstrap-datepicker.js"></script>
    <script src="~/Assests/scripts/datetimepicker.js"></script>
    <script src="~/Assests/scripts/menu.js"></script>
    <script src="~/Assests/scripts/modal.js"></script>
    <script src="~/Assests/scripts/Auth.js"></script>
    <script src="~/Assests/scripts/tab.js"></script>
    <script src="~/Assests/scripts/dataService.js"></script>
    <script src="~/Assests/scripts/setUp.js"></script>
    <script src="~/Assests/scripts/payment.js"></script>
    <script src="~/Assests/scripts/serializeObject.js"></script>
    <script src="~/Assests/scripts/userRole.js"></script>
    <script src="~/Assests/scripts/custpolicy.js"></script>
    <script src="~/Assests/scripts/report.js"></script>
    <script src="~/Assests/scripts/claim.js"></script>
    <script src="~/Assests/scripts/autocompleteUtils.js"></script>
    <script src="~/Assests/select2/select2.js"></script>
    <script src="~/Assests/scripts/select2Util.js"></script>
    }
    @RenderSection("scripts", required: false)


</body>
</html>
